/* Default parametres */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Blocks */


/* --------------------Header-------------------- */
header {
    background: #04032A;
    height: 80px;
    display: flex;
}
.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.navbar .links {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 28px;
}
.links a {
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.navbar .logo{
    margin-right: auto;
}


/* --------------------Main-------------------- */
.main {
    flex: 1 1 auto;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;
}

.block {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    max-width: 800px;
    text-align: justify;
}
.block p {
    color: white;
    font-size: 16px;
    font-weight: 300;
}
.block img {
    width: 180px;
    height: 220px;
    border-radius: 5%;
}


/* --------------------Footer-------------------- */
.footer {
    background-color: #04032A;
    height: 120px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.footer_info {
    font-weight: 100;
    color: white;
    font-size: 20px;
    line-height: 30px;
}