/* Default parametres */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Blocks */


/* --------------------Header-------------------- */
header {
    background: rgb(73, 139, 12);
}
.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.navbar .links {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
}
.navbar .logo{
    margin-right: auto;
}


/* --------------------Main-------------------- */
.main {
    flex: 1 1 auto;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 80px;
    padding-right: 80px;
}

.block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.block img {
    width: 180px;
    height: 220px;
}

.block p {
    max-width: 300px;
}


/* --------------------Footer-------------------- */
.footer {
    background-color: rgb(73, 139, 12);
    justify-content: space-between;
    align-items: center;
}